
/* för att nollställa margin och padding som är default*/
html, body, div, header, nav, main, section, footer, ul {margin: 0px; padding: 0px;}
/* öka chansen att det fungerar i äldre webbläsare*/
html, body, div, header, nav, main, section, footer {display:block; box-sizing: border-box;}

#wrap {max-width:1200px; margin:0 auto; /* Sidan centrerat horisontellt. */
      border-left: 1px solid #0066cc;
      border-right: 1px solid #0066cc;
      border-bottom: 1px solid #0066cc;
      }

header {
  background-image:url(mingoogle2-l.gif);
  background-repeat:no-repeat;
  background-position: 50% 40%;
  height: 200px;
  margin-top: 100px;
  background-size: auto 167px;
  align: center;
  border-top: 1px solid #0066cc;}

header h1 {display:none;}

#form {
  width: 400px;
margin: 0 auto;
text-align: center;}
#search{
    border: 1px solid #0066cc;
    border-radius: 8px;
    outline: none;
    width: 230px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 20px;
}
#search_submit{
    border: 1px solid #0066cc;
    color: #0066cc;
    background-color: #ffffff;
    border-radius: 8px;
    font-family: Arial;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    align-self: center;
  }
  #search_submit:hover {
  background: #3cb0fd;
  text-decoration: none;
}


p {text-align: center;}
h2 {text-align: center;}

li {
  display: inline;
  padding: 0px 10px 0px 0px;
  align-self: center;}

ul {
  align-items: flex-start;
}

#push {
  height: 200px;
}

footer{
  --visibility: hidden;
  }  /*tar bort den tillfälligt pga ful*/
footer {background-color:#fff; color: #fff; padding:10px;
        max-width:1200px; margin:0 auto;}
footer a {text-decoration: none;}
footer a:link, footer a:visited { color: #0066cc;}
footer a:hover, footer a:active  {color: #0066cc;}


/*för skärmar smalare än 1200 pixlar*/
@media screen and (max-width: 1200px){
	header{height: 200px; background-size: auto 150px;}
}

/*för skärmar smalare än 680 pixlar*/
@media screen and (max-width: 680px){
	header{height: 200px; background-size: auto 130px;}
}

/*för skärmar smalare än 585 pixlar*/
@media screen and (max-width: 585px){
  header{background-image:url(mingoogle3-l.gif);
    height: 150px; background-size: auto 150px;}
    #search{
      margin-top: 20px;
      }
    #search_submit{
      margin-top: 20px;
      }
      #wrap {padding-top: 30px;
      }

}
